/**
 * BASIC
 */

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
    padding: 0 0 0 10px;
}

a {
    color: #5065aa;
}

textarea {
    font-family: sans-serif;
}

.button {
    background-color: #5065aa;
    color: #FFF;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    border-width: 0;
    font-size: 16px;
}



/**
 * UI
 */

.dragdealer {
    position: relative;
    height: 24px;
    background: #CCC;
}

.dragdealer .handle {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: #222;
    height: 24px;

    color: #FFF;
    line-height: 30px;
    width: 12px;
    text-align: center;
}

.dragdealer .disabled {
    opacity: 0.5;
}

#time-slider {
    width: 40%;
}

#volume-slider {
    width: 10%;
}



/**
 * PLUGINS
 */

.audio-wave {
    position: relative;
    display: inline-block;
}

.audio-wave div {
    width: 1px;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #F00;
}



.filmstrip {
    overflow: hidden;
    position: relative;
}

.filmstrip.disabled {
    display: none;
}

.filmstrip img {
    position: absolute;
    left: 0;
    top: 0;
}


.metadata b,
.user-filled-info b
{
    display: inline-block;
    width: 110px;
}

.user-filled-info label {
    display: inline-block;
    width: 110px;
    font-weight: bold;
}
